<div id="home-page">
    <div id="home-page-landing">
        <div id="landing-left">
            <div id="landing-left-content">
                <h1>Social Media Platform</h1>
                <p>
                    Share your favorite Moments! 
                </p>
                <!-- <button (click)="onGetStartedClick()" mat-flat-button color="warn">Get Started</button> -->
                <button  mat-flat-button color="warn">Get Started</button>
            </div>
        </div>
        <div>

        </div>
    </div>
</div>