#photo-upload {
    display: none;
}

textarea {
    font-size: 1.5em;
    padding: 1em;
    resize: none;
    width: 250px;
    min-height: 200px;
    border: none;
    outline: none;
}

#post-preview {
    text-align: right;
    margin-top: 1em;
}

#post-preview-image {
    object-fit: cover;
    object-position: center;
    width: 150px;
    height: 100px;
    border-radius: 1em;
    border: 1px dashed gray;
}